.app {
  background-color: var(--bgPrime);
  height: 100vh;
}

.app__header {
  width: 100%;
}

.app__body {
  display: flex;
  justify-content: space-around;
}

.app__feed {
  max-width: 550px;
  width: 90%;
}

@media only screen and (max-width: 960px) {
  .app__body {
    justify-content: flex-end;
  }

  .app__sidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .app__body {
    justify-content: center;
  }

  .app__widgets {
    display: none;
  }
}
